In [3]:
def greet():
    print('hello')
    print('good morning team')

In [4]:
def greet():
    print('hello')
    print('good morning team')
greet()

hello
good morning team

In [5]:
def greet():
    print('hello')
    print('good morning team')
greet()

hello
good morning team

In [7]:
def greet():
    print('hello')
    print('good morning team')
greet()

def greet():
    print('hello')
    print('good morning team')
greet()

hello
good morning team
hello
good morning team

In [8]:
def greet():
    print('hello')
    print('good morning team')
greet()

print()

def greet():
    print('hello')
    print('good morning team')
greet()

hello
good morning team

hello
good morning team

In [9]:
def greet(): 
    print('hello')
    print('good morning team')
greet()

print()

def greet(): 
    print('hello')
    print('good morning team')
greet()

print()

def greet(): 
    print('hello')
    print('good morning team')
greet()

hello
good morning team

hello
good morning team

hello
good morning team

In [10]:
def greet():
    print('hello')
    print('good morning team')
greet()
print('********')
greet()
print('**********')
greet()

hello
good morning team
********
hello
good morning team
**********
hello
good morning team

In [11]:
def greet():
    print('hello')
    print('good morning team')
greet()

hello
good morning team

In [12]:
def add(x,y):
    c=x+y
    print(c)

add(5,6)

11

In [13]:
def add(x,y):
    c=x+y
    return c

add(5)

TypeError: add() missing 1 required positional argument: 'y'

In [14]:
def add(x,y):
    c=x+y
    return c  
   
add(5,6,7)

TypeError: add() takes 2 positional arguments but 3 were given

In [15]:
def add(x,y,z):
    c=x+y
    return c
add(5,6,7)

11

In [17]:
def add(x,y,z):
     c=x+y+z+m 
    return c  
   
add(5,6,7)

IndentationError: unindent does not match any outer indentation level (<string>, line 3)

In [18]:
def add(x,y,z,n):
    c = x+y+z+m 
    return c  
   
add(5,6,7,8)

NameError: name 'm' is not defined

In [19]:
def add(x,y,z,n):
    c = x+y+z+n
    return c  
   
add(5,6,7,8)

26

In [21]:
def greet():
    print('hello')
    print('good morning team')
greet()

def add(x,y):
    c=x+y
    return c
add(5,6)

hello
good morning team

11

In [22]:
def greet(): 
    print('hello')
    print('good morning team')
    
def add(x,y):
    c = x+y
    return c  

def sub(x,y):
    d = x-y
    return d


greet()   
print(add(5,6))
print(sub(5,6))

hello
good morning team
11
-1

In [23]:
def add_sub (x,y):
    c=x+y
    d=x-y
    return c,d

result = add_sub(4,5)
print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [24]:
def add_sub(x,y):
    c= x+y
    d= x-y
    return c, d 
    
result, result1 = add_sub(4,5)

print(result)
print(result1)
print(type(result))

9
-1
<class 'int'>

In [25]:
def add_sub_mul(x,y): 
    c= x+y
    d= x-y
    e= x*y
    return c, d, e 
    
add, sub, mul = add_sub_mul(4,5)

add
sub
mul

20

# Update

In [27]:
def update():
    x=8
    print(x)

update()

8

In [28]:
def update():
    x=8
    print(x)
update(8)

TypeError: update() takes 0 positional arguments but 1 was given

In [29]:
def update(x):
    x=8
    return x

update(100)

8

In [30]:
def update(x):
    x=8
    return x

a=15
update(a)
print(a)

15

# 7th

In [31]:
def person(name,age):
    print(name)
    print(age)

person('nit',22)

nit
22

In [32]:
def person(name,age):
    print(name)
    print(age)
    
person('nit')

TypeError: person() missing 1 required positional argument: 'age'

In [33]:
def person(name,age):
    print(name)
    print(age)
    
person(22)

TypeError: person() missing 1 required positional argument: 'age'

In [34]:
def person(name,age):
    print(name)
    print(age)

person('nit',22,23,45,56)

TypeError: person() takes 2 positional arguments but 5 were given

In [35]:
def  person (name,age):
    print(name)
    print(age)
person(22,'nit')

22
nit

In [36]:
def person(name,age):
    print(name)
    print(age-1)
person(22,'nit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [38]:
def person(name,age, new_age):
    print(name)
    print(age-1)
person(age=22,name='nit')

TypeError: person() missing 1 required positional argument: 'new_age'

In [39]:
def person(name, age):
    print(name)
    print(age-1)

person(age = 22, name = 'nit')

nit
21

In [40]:
def person(name,age,new_age):
    print(name)
    print(age-1)
    print(new_age)

person(age=22,name='nit',new_age=23)

nit
21
23

# Default argument

In [41]:
def person(name,age=18):
    print(name)
    print(age)

person('nit')

nit
18

In [42]:
def person(name,age=18):
    print(name)
    print(age)
person('ankita',40)

ankita
40

# Variable length argument

In [43]:
def person(name,age):
    print(name)
    print(age)

person('ankita',40,50,60,70,80)

TypeError: person() takes 2 positional arguments but 6 were given

In [44]:
def sum(a,b):
    c=a+b
    print(c)

sum(5,6,7,8)

TypeError: sum() takes 2 positional arguments but 4 were given

In [45]:
def sum(a,*b):
    print(type(a))
    print(type(b))
sum(5,6,7,8)

<class 'int'>
<class 'tuple'>

In [46]:
def sum(a,*b):
    c=a
    for i in b:
        c=c+i
    print(c)

sum(5,6,7,8)

26

In [47]:
def sum(a, *b): # 1st argument is fixed & we fetch each value from the tuple & we can add them. 
    c = a   
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8,9,20)

55

In [48]:
def sum(a, *b): # 1st argument is fixed & we fetch each value from the tuple & we can add them. 
    c = a
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8)

26

# Kwargs

In [49]:
def person():
    person('Ankita', 36, 'shree', 987767)

In [50]:
def person(name, *data):
    print(name)
    print(data)

person('Ankita', 36, 'shree', 987767)

Ankita
(36, 'shree', 987767)

In [51]:
def person(name,*data):
    print('name')
    print(data)

person('Ankita', age = 21, home_place ='deoni', mob =8698)

TypeError: person() got an unexpected keyword argument 'age'

In [52]:
def person(name, **data):
    print('name')
    print(data)

person('Ankita', age = 21, home_place ='deoni', mob =987767)

name
{'age': 21, 'home_place': 'deoni', 'mob': 987767}

In [54]:
def person(name,**data):
    print('name')
    print(data)
person('Ankita',age=36,home_place='deoni',mob=8698)

name
{'age': 36, 'home_place': 'deoni', 'mob': 8698}

In [56]:
def person(name, **data):
    print('name')
    print(data)

person('Ankita', age = 21, home_place ='deoni', mob =8698, slary= 40000, married = 'No')

name
{'age': 21, 'home_place': 'deoni', 'mob': 8698, 'slary': 40000, 'married': 'No'}

# Functional argument we are completed global variable & local variable

In [58]:
a=10
def something():
    b=15
    print('in function'.b)
    print('out function',a)

In [59]:
a = 10  
def something():
    b = 15
    print('in function',b)    
    
print('out function',a)

out function 10

In [60]:
a = 10  

def something():
    a = 15
    
print('in function',a) 

print('out function',a)

in function 10
out function 10

In [61]:
a = 10 

def something():
    b = 15
    print('in function',b)  # local variable
something()

print('out function',a) #gloabl variable

in function 15
out function 10

In [63]:
a=10
def something ():
    print('in function',a)
something()
print('out function',a)

in function 10
out function 10

In [64]:
a=10
def something():
    global a
    b=15
    print('in function',b)
    print('global variable',a)
something()
print('out function',a)

in function 15
global variable 10
out function 10

In [65]:
a = 20  

def something():
    global a
    a = 15     
    print('in function',a)
    
    a = 15
    
something()
print('out function',a)

in function 15
out function 15

In [66]:
x=10
def update_x():
    global x
    x+=5
update_x()
print(x)

15

In [67]:
x=10
def update_x():
    globals()['x']+=5
update_x()
print(x)

15