In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'C:\\Users\\mhetr'

In [3]:
movies = pd.read_csv(r"C:\Users\mhetr\Downloads\Movie-Rating.csv")

In [4]:
movies

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009
...,...,...,...,...,...,...
554,Your Highness,Comedy,26,36,50,2011
555,Youth in Revolt,Comedy,68,52,18,2009
556,Zodiac,Thriller,89,73,65,2007
557,Zombieland,Action,90,87,24,2009
558,Zookeeper,Comedy,14,42,80,2011

In [5]:
len(movies)

559

In [6]:
movies.columns

Index(['Film', 'Genre', 'Rotten Tomatoes Ratings %', 'Audience Ratings %',
       'Budget (million $)', 'Year of release'],
      dtype='object')

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Film                       559 non-null    object
 1   Genre                      559 non-null    object
 2   Rotten Tomatoes Ratings %  559 non-null    int64
 3   Audience Ratings %         559 non-null    int64
 4   Budget (million $)         559 non-null    int64
 5   Year of release            559 non-null    int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [8]:
movies.shape

(559, 6)

In [9]:
movies.head()

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [10]:
movies

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009
...,...,...,...,...,...,...
554,Your Highness,Comedy,26,36,50,2011
555,Youth in Revolt,Comedy,68,52,18,2009
556,Zodiac,Thriller,89,73,65,2007
557,Zombieland,Action,90,87,24,2009
558,Zookeeper,Comedy,14,42,80,2011

In [11]:
movies.tail()

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
554,Your Highness,Comedy,26,36,50,2011
555,Youth in Revolt,Comedy,68,52,18,2009
556,Zodiac,Thriller,89,73,65,2007
557,Zombieland,Action,90,87,24,2009
558,Zookeeper,Comedy,14,42,80,2011

In [12]:
movies.columns=['Film','Genre','CriticRating','AuienceRating','BudgetMillions','Year']

In [13]:
movies.head(1)

,Film,Genre,CriticRating,AuienceRating,BudgetMillions,Year
0,(500) Days of Summer,Comedy,87,81,8,2009

In [14]:
movies.shape

(559, 6)

In [15]:
movies.describe()

       CriticRating  AuienceRating  BudgetMillions         Year
count    559.000000     559.000000      559.000000   559.000000
mean      47.309481      58.744186       50.236136  2009.152057
std       26.413091      16.826887       48.731817     1.362632
min        0.000000       0.000000        0.000000  2007.000000
25%       25.000000      47.000000       20.000000  2008.000000
50%       46.000000      58.000000       35.000000  2009.000000
75%       70.000000      72.000000       65.000000  2010.000000
max       97.000000      96.000000      300.000000  2011.000000

In [16]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Film            559 non-null    object
 1   Genre           559 non-null    object
 2   CriticRating    559 non-null    int64
 3   AuienceRating   559 non-null    int64
 4   BudgetMillions  559 non-null    int64
 5   Year            559 non-null    int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [17]:
movies.Film=movies.Film.astype('category')

In [18]:
movies['Film']

0      (500) Days of Summer
1                10,000 B.C.
2                 12 Rounds
3                  127 Hours
4                  17 Again
               ...
554            Your Highness
555          Youth in Revolt
556                   Zodiac
557              Zombieland
558                Zookeeper
Name: Film, Length: 559, dtype: category
Categories (559, object): ['(500) Days of Summer ', '10,000 B.C.', '12 Rounds ', '127 Hours', ..., 'Youth in Revolt', 'Zodiac', 'Zombieland ', 'Zookeeper']

In [19]:
movies.Film

0      (500) Days of Summer
1                10,000 B.C.
2                 12 Rounds
3                  127 Hours
4                  17 Again
               ...
554            Your Highness
555          Youth in Revolt
556                   Zodiac
557              Zombieland
558                Zookeeper
Name: Film, Length: 559, dtype: category
Categories (559, object): ['(500) Days of Summer ', '10,000 B.C.', '12 Rounds ', '127 Hours', ..., 'Youth in Revolt', 'Zodiac', 'Zombieland ', 'Zookeeper']

In [20]:
movies.head()

,Film,Genre,CriticRating,AuienceRating,BudgetMillions,Year
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [21]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Film            559 non-null    category
 1   Genre           559 non-null    object
 2   CriticRating    559 non-null    int64
 3   AuienceRating   559 non-null    int64
 4   BudgetMillions  559 non-null    int64
 5   Year            559 non-null    int64
dtypes: category(1), int64(4), object(1)
memory usage: 43.6+ KB

In [22]:
movies.describe()

       CriticRating  AuienceRating  BudgetMillions         Year
count    559.000000     559.000000      559.000000   559.000000
mean      47.309481      58.744186       50.236136  2009.152057
std       26.413091      16.826887       48.731817     1.362632
min        0.000000       0.000000        0.000000  2007.000000
25%       25.000000      47.000000       20.000000  2008.000000
50%       46.000000      58.000000       35.000000  2009.000000
75%       70.000000      72.000000       65.000000  2010.000000
max       97.000000      96.000000      300.000000  2011.000000

In [23]:
movies.Genre = movies.Genre.astype('category')
movies.Year=movies.Year.astype('category')

In [24]:
movies.Genre

0         Comedy
1      Adventure
2         Action
3      Adventure
4         Comedy
         ...
554       Comedy
555       Comedy
556     Thriller
557       Action
558       Comedy
Name: Genre, Length: 559, dtype: category
Categories (7, object): ['Action', 'Adventure', 'Comedy', 'Drama', 'Horror', 'Romance', 'Thriller']

In [25]:
movies.Year

0      2009
1      2008
2      2009
3      2010
4      2009
       ...
554    2011
555    2009
556    2007
557    2009
558    2011
Name: Year, Length: 559, dtype: category
Categories (5, int64): [2007, 2008, 2009, 2010, 2011]

In [26]:
movies.describe()

       CriticRating  AuienceRating  BudgetMillions
count    559.000000     559.000000      559.000000
mean      47.309481      58.744186       50.236136
std       26.413091      16.826887       48.731817
min        0.000000       0.000000        0.000000
25%       25.000000      47.000000       20.000000
50%       46.000000      58.000000       35.000000
75%       70.000000      72.000000       65.000000
max       97.000000      96.000000      300.000000

In [27]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Film            559 non-null    category
 1   Genre           559 non-null    category
 2   CriticRating    559 non-null    int64
 3   AuienceRating   559 non-null    int64
 4   BudgetMillions  559 non-null    int64
 5   Year            559 non-null    category
dtypes: category(3), int64(3)
memory usage: 36.5 KB

In [28]:
movies.Genre.cat.categories

Index(['Action', 'Adventure', 'Comedy', 'Drama', 'Horror', 'Romance',
       'Thriller'],
      dtype='object')

In [29]:
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [32]:
j = sns.jointplot( data = movies, x = 'CriticRating', y = 'AudienceRating',kind='hex')

ValueError: Could not interpret value `AudienceRating` for `y`. An entry with this name does not appear in `data`.